In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# menghubungkan colab dengan google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# memanggil data set lewat gdrive
path = "/content/drive/MyDrive/Praktikum Machine Learning_Amaya Eshia_0110224102_Ai02/Praktikum ML 2"

In [6]:
# membaca file csv menggunakan pandas
import pandas as pd
df = pd.read_csv(path + "/Data/day.csv")

In [8]:
# memasukan dataset
df = pd.read_csv(path + "/Data/day.csv")
total_size = len(df)

In [9]:
# pembagian rasio sesuai soal
# Rasio akhir: Testing 20%, Validation 8%, Training 72%
RASIO_TESTING = 0.20
RASIO_VALIDATION = 0.10
RASIO_TRAINING = 0.80

In [10]:
# HITUNG JUMLAH BARIS
# Menggunakan np.ceil untuk memastikan pembulatan ke atas
jumlah_testing = int(np.ceil(total_size * RASIO_TESTING))
jumlah_validation = int(np.ceil(total_size * RASIO_VALIDATION))
# Jumlah Training adalah sisanya
jumlah_training = total_size - jumlah_testing - jumlah_validation

In [11]:
# 1. PEMBAGIAN DATA BERDASARKAN URUTAN INDEKS (TIDAK DIACAK)
# Perhatian: Pembagian ini mengasumsikan data sudah diacak atau tidak memiliki bias urutan.

In [12]:
# A. DATA TESTING (20%)
# Mengambil data 20% pertama dari dataset
df_test = df.iloc[:jumlah_testing]

In [13]:
# TAMPILKAN HASIL DATA TESTING
print("\n--- DATA TESTING (20% dari Total) ---")
print(f"Jumlah: {len(df_test)} baris")
print(df_test.head())

--- DATA TESTING (20% dari Total) ---
Jumlah: 147 baris
   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1
3        4  2011-01-04       1   0     1        0        2           1
4        5  2011-01-05       1   0     1        0        3           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229
3           1  0.200000  0.212122  0.590435   0.160296     108        1454
4           1  0.226957  0.229270  0.436957   0.186900      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600

In [14]:
# B. DATA VALIDATION (8%)
# Mengambil data dari akhir Testing hingga batas Validation
start_val = jumlah_testing
end_val = jumlah_testing + jumlah_validation
df_validation = df.iloc[start_val : end_val]

In [15]:
# TAMPILKAN HASIL DATA VALIDATION
print("\n--- DATA VALIDATION (8% dari Total) ---")
print(f"Jumlah: {len(df_validation)} baris")
print(df_validation.head())

--- DATA VALIDATION (8% dari Total) ---
Jumlah: 74 baris
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
147      148  2011-05-28       2   0     5        0        6           0
148      149  2011-05-29       2   0     5        0        0           0
149      150  2011-05-30       2   0     5        1        1           0
150      151  2011-05-31       2   0     5        0        2           1
151      152  2011-06-01       2   0     6        0        3           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
147           1  0.655833  0.612379  0.729583   0.230092    2001        2757
148           1  0.667500  0.615550  0.818750   0.213938    2355        2433
149           1  0.733333  0.671092  0.685000   0.131225    1549        2549
150           1  0.775000  0.725383  0.636667   0.111329     673        3309
151           2  0.764167  0.720967  0.677083   0.207092     513        3461

      cnt
147  4758
148  4788
149  4098
150  3982
151  3974

In [16]:
# C. DATA TRAINING (72%)
# Mengambil sisa data dari batas akhir Validation hingga akhir dataset
df_train = df.iloc[end_val:]

In [17]:
# TAMPILKAN HASIL DATA TRAINING
print("\n--- DATA TRAINING (72% dari Total) ---")
print(f"Jumlah: {len(df_train)} baris")
print(df_train.head())

--- DATA TRAINING (72% dari Total) ---
Jumlah: 510 baris
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
221      222  2011-08-10       3   0     8        0        3           1
222      223  2011-08-11       3   0     8        0        4           1
223      224  2011-08-12       3   0     8        0        5           1
224      225  2011-08-13       3   0     8        0        6           0
225      226  2011-08-14       3   0     8        0        0           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
221           1  0.766667  0.684983  0.424167   0.200258     884        3896
222           1  0.717500  0.651521  0.423750   0.164796     812        3980
223           1  0.708333  0.654042  0.415000   0.125621    1051        3854
224           2  0.685833  0.645858  0.729583   0.211454    1504        2646
225           2  0.676667  0.624388  0.817500   0.222633    1338        2482

      cnt
221  4780
222  4792
223  4905
224  4150
225  3820

# ========================================
# PEMBAGIAN DATA SESUAI REQUIREMENT
# ========================================

In [19]:
# (c) Data Testing: 20% dari total dataset
RASIO_TESTING = 0.20
jumlah_testing = int(np.ceil(total_size * RASIO_TESTING))

In [20]:
# (a) Data Training: 80% dari total dataset (sisa setelah testing)
jumlah_training_awal = total_size - jumlah_testing

In [21]:
# (b) Data Validation: 10% dari data training
RASIO_VALIDATION = 0.10
jumlah_validation = int(np.ceil(jumlah_training_awal * RASIO_VALIDATION))

In [22]:
# Jumlah Training akhir setelah dikurangi validation
jumlah_training_akhir = jumlah_training_awal - jumlah_validation

In [23]:
print("=== RASIO PEMBAGIAN DATA ===")
print(f"Testing: 20% dari total = {jumlah_testing} baris")
print(f"Training awal: 80% dari total = {jumlah_training_awal} baris")
print(f"Validation: 10% dari training = {jumlah_validation} baris")
print(f"Training akhir: {jumlah_training_akhir} baris")
print(f"\nRasio akhir terhadap total:")
print(f"Testing: {(jumlah_testing/total_size)*100:.2f}%")
print(f"Validation: {(jumlah_validation/total_size)*100:.2f}%")
print(f"Training: {(jumlah_training_akhir/total_size)*100:.2f}%")
print("="*50)

=== RASIO PEMBAGIAN DATA ===
Testing: 20% dari total = 147 baris
Training awal: 80% dari total = 584 baris
Validation: 10% dari training = 59 baris
Training akhir: 525 baris

Rasio akhir terhadap total:
Testing: 20.11%
Validation: 8.07%
Training: 71.82%
==================================================

# ========================================
# PEMBAGIAN DATA BERDASARKAN URUTAN
# ========================================

In [24]:
# 1. DATA TESTING (20% pertama)
df_test = df.iloc[:jumlah_testing]

In [25]:
# 2. DATA TRAINING (80% sisanya, tapi nanti dipecah lagi)
# Ambil dari akhir testing sampai akhir dataset
df_training_temp = df.iloc[jumlah_testing:]

In [26]:
# 3. PECAH DATA TRAINING JADI VALIDATION DAN TRAINING
# Validation: 10% pertama dari data training
df_validation = df_training_temp.iloc[:jumlah_validation]

In [27]:
# Training akhir: sisanya
df_train = df_training_temp.iloc[jumlah_validation:]

# ========================================
# TAMPILKAN HASIL
# ========================================

In [28]:
print("\n\n### DATA TESTING (20% dari Total) ###")
print(f"Jumlah: {len(df_test)} baris")
print("\n5 Baris Teratas:")
print(df_test.head())

### DATA TESTING (20% dari Total) ###
Jumlah: 147 baris

5 Baris Teratas:
   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1
3        4  2011-01-04       1   0     1        0        2           1
4        5  2011-01-05       1   0     1        0        3           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229
3           1  0.200000  0.212122  0.590435   0.160296     108        1454
4           1  0.226957  0.229270  0.436957   0.186900      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600

In [29]:
print("\n\n### DATA VALIDATION (10% dari Training) ###")
print(f"Jumlah: {len(df_validation)} baris")
print("\n5 Baris Teratas:")
print(df_validation.head())

### DATA VALIDATION (10% dari Training) ###
Jumlah: 59 baris

5 Baris Teratas:
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
147      148  2011-05-28       2   0     5        0        6           0
148      149  2011-05-29       2   0     5        0        0           0
149      150  2011-05-30       2   0     5        1        1           0
150      151  2011-05-31       2   0     5        0        2           1
151      152  2011-06-01       2   0     6        0        3           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
147           1  0.655833  0.612379  0.729583   0.230092    2001        2757
148           1  0.667500  0.615550  0.818750   0.213938    2355        2433
149           1  0.733333  0.671092  0.685000   0.131225    1549        2549
150           1  0.775000  0.725383  0.636667   0.111329     673        3309
151           2  0.764167  0.720967  0.677083   0.207092     513        3461

      cnt
147  4758
148  4788
149  4098
150  3982
151  3974

In [30]:
print("\n\n### DATA TRAINING (Sisanya) ###")
print(f"Jumlah: {len(df_train)} baris")
print("\n5 Baris Teratas:")
print(df_train.head())

### DATA TRAINING (Sisanya) ###
Jumlah: 525 baris

5 Baris Teratas:
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
206      207  2011-07-26       3   0     7        0        2           1
207      208  2011-07-27       3   0     7        0        3           1
208      209  2011-07-28       3   0     7        0        4           1
209      210  2011-07-29       3   0     7        0        5           1
210      211  2011-07-30       3   0     7        0        6           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
206           1  0.771667  0.696979  0.540833   0.200258     750        3840
207           1  0.775000  0.690667  0.402917   0.183463     755        3901
208           1  0.779167  0.739900  0.583333   0.178479     606        3784
209           1  0.838333  0.785967  0.542500   0.174138     670        3176
210           1  0.804167  0.728537  0.465833   0.168537    1559        2916

      cnt
206  4590
207  4656
208  4390
209  3846
210  4475

# ========================================
# VERIFIKASI
# ========================================

In [31]:
print("\n\n=== VERIFIKASI ===")
total_setelah_split = len(df_test) + len(df_validation) + len(df_train)
print(f"Total data awal: {total_size}")
print(f"Total setelah split: {total_setelah_split}")
print(f"Semua data ter-cover: {total_setelah_split == total_size}")

=== VERIFIKASI ===
Total data awal: 731
Total setelah split: 731
Semua data ter-cover: True

In [32]:
# df_test.to_csv("data_testing.csv", index=False)
# df_validation.to_csv("data_validation.csv", index=False)
# df_train.to_csv("data_training.csv", index=False)